[user]
        name = Angelos Chaidas
        # email = {add email here}
[alias]
        st = status
        ci = commit
        co = checkout
        br = branch
        latest = for-each-ref --count=10 --sort=-committerdate refs/heads --format='%(refname:short)'
[color]
        branch = auto
        diff = auto
        interactive = auto
        status = auto
[merge]
        log = true
        summary = true
        ff = false
[core]
        autocrlf = true